.LoadingTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DoneText {
  color: rgb(106, 85, 85);
  font-size: 14px;
  margin-top: -30px;
}